@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Global Variables */
    :root {
        --main-bg-color: #DDD0C8;
        --secondary-bg-color: #323232;

        --main-font: 'Poppins';
        --main-callback-font: sans-serif;
        --main-font-size: clamp(0.9rem, 8vw - 2rem, 1rem);
        --main-header-1-font-size: clamp(1.5rem, 8vw - 2rem, 2.125rem); /* default is 34x (2.125 rem). On mobile, use 24px or 1.5rem.  */
        --main-header-2-font-size: clamp(1.125rem, 8vw - 2rem, 1.875rem); /* default is 30px (1.875 rem). On mobile, use 18px or 1.125rem.  */
        --main-header-3-font-size: clamp(1.125rem, 8vw - 2rem, 1.5rem); /* default is 30px (1.5 rem). On mobile, use 18px or 1.125rem.  */
        --main-header-4-font-size: clamp(1rem, 8vw - 2rem, 1.2rem); 

        --banner-text-color: #DDD0C8;
        --banner-text-h1-font-size: 2.5rem;
        --banner-text-h2-font-size: 1.2rem;

        --navbar-text-color: #DDD0C8;
        --navbar-font: 'Poppins';
        --navbar-callback-font: sans-serif;

        --navbar-link-hover-color: gray;
        --navbar-link-active-color: gray;

        --navbar-logo-size: 12vw;

        --button-color: #DDD0C8;
        --button-font-size: 16px;
        --button-font: 'Poppins';
        --button-callback-font: sans-serif;
    }

    * {
        box-sizing: border-box;
        line-height: 1.5em;
        padding: 0;
        margin: 0;
    }

    html {
        font-size: --main-font-size;
        scroll-behavior: smooth;
    
    /* For Desktop View - SCROLL */
    @media screen and (min-width: 1024px) {
        scroll-padding-top: 70px;
        }

    /* For Tablet View - SCROLL */
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        scroll-padding-top: 50px;
        }

    }


    body {
        margin: 0;
        background-color: var(--main-bg-color);
    }

/* NavBar Section */
nav {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    user-select: none;
    display: flex;
    position: fixed;
    background-color: var(--secondary-bg-color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
    font-family: var(--navbar-font), var(--navbar-callback-font);
    z-index: 1000000000000000;
  }
  
    .nav-links {
      font-weight: 600;
      display: flex;
      gap: 1em;
    }
  
    .nav-links a {
      transition: color 0.25s;
    }
  
    .nav-links a:hover {
      color: var(--navbar-link-hover-color);
    }
  
    .nav-links a:active {
      color: var(--navbar-link-active-color);
    }
    
    .nav-logo img {
      width: var(--navbar-logo-size);
      border: none;      
    }
  
  /* Dropdown Content - NavBar */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-button {
    font-size: var(--main-font-size);
    border: none;
    outline: none;
    color: var(--main-bg-color);
    background: none;
    font-family: 'Poppins';
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.5s;
    border-radius: 10px;
  }
  
  .dropdown-button:hover {
    color: gray;
    cursor: pointer
  }
  
  .dropdown:hover .dropdown-content {
    background-color: #232428;
    display: block;
  }
  
  .dropdown-content {
    padding-top: 15px;
    transition: opacity 0.5s;
    width: 280px;
    padding-bottom: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .dropdown-content a {
    float: none;
    display: block;
    line-height: 2px;
    color: #DDD0C8;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 300;
    text-align: left;
  }
  
  a {
    position: relative;
    text-decoration: none;
    color: var(--navbar-text-color);
  }
  
  li {
    list-style: none;
  }
  
  /* Hide Mobile Menu */
  #hamburger-icon {
    display: none;
  }
  

/* Intro Section */
.section-intro{  
    padding-top: 75px;
    color: white; 
    background-color: var(--secondary-bg-color);
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;    
}

.section-intro h3{
    font-family: 'Poppins', sans-serif;
    font-size: var(--main-header-4-font-size);
    font-weight: 800;  
    margin-left: 75px;
    padding-bottom: 20px;
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
}

.section-intro p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size);
    color: var(--main-bg-color);  
    margin-top: 5px; 
    margin-left: 75px;
    margin-right: 50px;  
    padding-bottom: 15px;
}

@media (max-width: 1200px) {
    .section-intro {
      padding-top: 60px;
    }
}

@media (max-width: 600px) {
  .section-intro{   
    padding-left: 0px; 
    padding-bottom: 0px; 
   
  }

  .section-intro h3 {
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 

  }

  .section-intro p {
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 
  }
}


/* Quote Section */
.section-quote{
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 25px; 
    padding-left: 50px; 
    padding-bottom: 20px;     
    background-color: var(--main-bg-color);       
}

.section-quote img{
    max-width: 35%;
    height: 50%;
    margin-top: 15px;
    margin-left: 30px;
    border: solid;
    border-width:2px; 
    border-color: gray; 
}

/* .section-quote img:hover{  
    transform: translate(80%,0%) scale(1.5); 
    z-index: 1;
} */

.section-quote h3{
    font-family: 'Poppins', sans-serif;
    font-size: var(--main-header-4-font-size);
    font-weight: 800;     
    color: var(--secondary-bg-color);
    padding-left: 75px; 
    padding-bottom: 10px;   
}

.section-quote p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size);
    color: var(--secondary-bg-color); 
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.section-quote ul{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size);
    color: var(--secondary-bg-color);  
    margin-left: 120px;
    margin-right: 50px;
}

.section-quote a{
    color: #1a1b1e;
    font-weight: 600;
}

hr {
    height: 5px; 
    width: 80%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 5px;
    background-color: var(--secondary-bg-color);    

    @media (max-width: 1200px) {
    height: 3px;
  }
  
  @media (max-width: 600px) {
    height: 1.5px;
  }
}

@media (max-width: 1200px) {
    .section-quote {
      flex-direction: column;
      padding-left: 0;     
      padding-bottom: 0;
    }

    .section-quote img{
        max-width: 50%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        order: 2;
    }

    .section-quote p{
        margin-bottom: 10px;
        margin-right: 50px; 
        order: 1;
    }

    .section-quote ul{
        margin-left: 150px;  
        margin-right: 50px;
    }
}

@media (max-width: 600px) {
  .section-quote{
    margin-top: 25px; 
    padding-left: 0px; 
    padding-bottom: 0px;     
}
  .section-quote h3 {
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 
  }

  .section-quote p {
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 
  }

  .section-quote ul{
    margin-left: 25px;     
    margin-right: 25px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-left: 50px;  
}


.section-quote img{
  max-width: 65%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  order: 2;
}

}

/* Proposal Section */
.section-proposal{
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding-left: 50px;
    padding-bottom: 15px;
    background-color: var(--main-bg-color);
}

.section-proposal img{
    max-width: 22%;
    height: 50%;
    margin-top: 15px;
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 10px;
    border: solid;
    border-width:2px; 
    border-color: gray;   
}

/* .section-proposal img:hover{  
    transform: translate(-150%,0%) scale(1.5); 
    z-index: 1;
} */

.section-proposal h3{
  font-family: 'Poppins', sans-serif;
  font-size: var(--main-header-4-font-size);
  font-weight: 800;     
  color: var(--secondary-bg-color);
  padding-left: 75px; 
  padding-bottom: 10px;   
}

.section-proposal p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size); 
    color: var(--secondary-bg-color);
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 25px;
}

.section-proposal ul{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size);  
    color: var(--secondary-bg-color); 
    padding-top: 10px;
    margin-left: 150px;
    margin-right: 50px;

}

@media (max-width: 1200px) {
    .section-proposal {
      flex-direction: column;
      padding-left: 0;     
      padding-bottom: 15px;
    }

    .section-proposal img{
        max-width: 35%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .section-proposal p{        
        margin-bottom: 10px;
        margin-right: 25px; 
    }

    .section-proposal ul{        
        margin-left: 150px;
    }
}

@media (max-width: 600px) {
  .section-proposal {
    margin-top: 25px;  
    padding-left: 0px; 
    padding-bottom: 0px; 
    margin-bottom: -30px;    
}
  .section-proposal h3 {
    padding-left: 40px;
    margin-left: 0px;
  }

  .section-proposal p {
    margin-left: 0px;
    margin-right: 25px;
    padding-left: 40px;    
  }

  .section-proposal ul{
    margin-left: 25px;     
    margin-right: 25px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-left: 50px;  
}


.section-proposal img{
  max-width: 60%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  order: 2;
}

}
/* Invoice and Calendar */
.section-invoice{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding-left: 50px; 
    padding-bottom: 15px;
    background-color: var(--main-bg-color);
}

.section-invoice h3{
    font-family: 'Poppins', sans-serif;
    font-size: var(--main-header-4-font-size);
    font-weight: 800;     
    color: var(--secondary-bg-color);
    padding-left: 150px;
    padding-top: 25px;  
    padding-bottom: 10px;  
}

.section-invoice img{
    width: 25%;
    height: 10%;
    margin-left: 100px;
    margin-top: 25px;
    border: solid;
    border-width:2px; 
    border-color: gray; 
}


.section-invoice p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size);
    color: var(--secondary-bg-color); 
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 10px; /* between paragraphs */
}

#invoice {
  scroll-margin-top: 0px; 
 }

@media (max-width: 1200px) {
    .section-invoice {
      flex-direction: column;
      padding-left: 0;     
      padding-bottom: 0;
    }

    .section-invoice img{
        width: 35%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0px;
        order: 2;
    }

    .section-invoice h3{
        margin-left: -75px;      
    }

    .section-invoice p{
        margin-left: 75px;
        margin-bottom: 0px;
        order: 1;
    }

    #invoice {
      scroll-margin-top: 0px; 
     }
}

@media (max-width: 600px) {
  .section-invoice{
    padding-bottom: 0px;
    margin-bottom: -10px;
}

  .section-invoice h3{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;   
  }

  .section-invoice p{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 
  }

  .section-invoice img{
    width: 60%;
    height: auto;
  }

  #invoice {
    scroll-margin-top: 50px; 
  }
}

/* Calendar Appointment Section */
.section-calendar{
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.section-calendar h3{
    font-family: 'Poppins', sans-serif;
    font-size: var(--main-header-4-font-size);
    color: var(--secondary-bg-color);
    font-weight: 800;     
    padding-left: 75px; 
    padding-top: 25px;  
    padding-bottom: 10px;  
}

.section-calendar p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size); 
    color: var(--secondary-bg-color);
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 10px; /* between paragraphs */
}

.section-calendar ul{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size); 
    color: var(--secondary-bg-color);
    padding-top: 10px; 
    margin-left: 120px;
    margin-right: 50px; 
}

@media (max-width: 1200px) {
  .section-calendar ul{
    margin-left: 120px;     
    margin-right: 25px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-left: 50px;  
}
}

@media (max-width: 600px) {
  .section-calendar{
    padding-bottom: 0px;
    margin-bottom: -10px;
}
  .section-calendar h3{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;    
  }

  .section-calendar p{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 
  }

  .section-calendar ul{
    margin-left: 25px;     
    margin-right: 25px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    padding-left: 50px;  
}
}

/* Inventory Management */
.section-inventory{
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding-left: 50px; 
    padding-bottom: 20px; 
    background-color: var(--main-bg-color);  
}

.section-inventory h3{
    font-family: 'Poppins', sans-serif;
    font-size: var(--main-header-4-font-size);
    color: var(--secondary-bg-color);
    font-weight: 800;     
    padding-left: 75px; 
    padding-top: 25px;
    padding-bottom: 10px;  
}

.section-inventory img{
    width: 34%;
    height: 50%;
    margin-left: 30px;
    margin-top: 25px;
    border: solid;
    border-width:2px; 
    border-color: gray; 
}

.section-inventory p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size); 
    color: var(--secondary-bg-color);
    padding-left: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.section-inventory ul{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size);  
    color: var(--secondary-bg-color);
    padding-top: 10px; 
    margin-left: 50px;  
    margin-bottom: 15px; /* between paragraphs */
}

@media (max-width: 1200px) {
    .section-inventory {
      flex-direction: column;      
      padding-left: 0; 
      padding-bottom: 0;    
    }

    .section-inventory img{
        width: 50%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        order: 2;
    }

    .section-inventory p{
        margin-left: 50px;
        margin-bottom: 10px;        
        order: 1;
    }
}

@media (max-width: 600px) {
  .section-inventory h3{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;     
    
}
  .section-inventory p{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;       
      
  }

.section-inventory img{
  width: 65%;
  height: auto;
}
}

.section-inventory-calendar{
    display: flex; 
    align-items: center;
    justify-content: center;    
    background-color: var(--main-bg-color);
}

.section-inventory-calendar img{
    max-width: 35%;
    height: auto;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 10px;
    border: solid;
    border-width:2px; 
    border-color: gray;   
}

.section-inventory-calendar h3{
  font-family: 'Poppins', sans-serif;
  font-size: var(--main-header-4-font-size);
  font-weight: 800;     
  color: var(--secondary-bg-color);
  padding-left: 75px; 
  padding-bottom: 10px;   
}


.section-inventory-calendar p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size); 
    color: var(--secondary-bg-color);
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .section-inventory-calendar {
      flex-direction: column;
      padding-left: 0;     
    }

    .section-inventory-calendar img{
        max-width: 50%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0px;
        order: 2;
    }

    .section-inventory-calendar p{
        margin-left: 75px;
        margin-bottom: 10px;
        order: 1;
    }
}

@media (max-width: 600px) {
  .section-inventory-calendar{
    padding-bottom: 0px;
    margin-bottom: -10px;
}
  .section-inventory-calendar h3{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px; 
}
  .section-inventory-calendar p{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;     
      
  }
  
  .section-inventory-calendar img{
    max-width: 65%;
}
}

/* Database Management */
.section-database{
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.section-database h3{
    font-family: 'Poppins', sans-serif;
    font-size: var(--main-header-4-font-size);
    color: var(--secondary-bg-color);
    font-weight: 800;     
    padding-left: 75px; 
    padding-top: 25px;
    padding-bottom: 10px;  
}

.section-database p{
    font-family: 'Poppins', sans-serif; 
    font-size: var(--main-font-size); 
    color: var(--secondary-bg-color);
    margin-left: 75px;
    margin-right: 50px;
    margin-bottom: 10px; /* between paragraphs */
}

@media (max-width: 600px) {
  .section-database h3{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;    
}
  .section-database p{
    margin-left: 0px;
    padding-left: 40px;
    margin-right: 25px;         
      
  }
}

/*---FOOTER SECTION---*/
.footer{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8, 8vw - 2rem, 0.9rem);
    font-weight: 100;     
    width: 100%;
    padding-top: 75px;  
    padding-left: 75px;  
    background-color: var(--main-bg-color);  
  
  /* For Mobile Devices (same for all devices with widths up to 1200px) */
    @media (max-width: 1200px) {    
      text-align: center;
      padding-left: 0;
      padding-top: 10px;
      margin-top: 5px;
    }
  }
   
  .footer P {
    margin-top: -5px;
  }
  
  .copyright {
    font-size: 14px;
    text-align: center;  
  }
  
  /* For Mobile Devices (same for all devices with widths up to 1200px) */
  .footer p {
    @media (max-width: 1200px) {
      font-size: 0.875rem;  
      color: var(--secondary-bg-color);
    }
  }
  
  .footer p a:link{
    color: var(--secondary-bg-color);
    text-decoration: none;
  }
  
  .icons {
    display: flex;
    justify-content: center;
  }
  
  .item{
    padding: 10px; 
  }
  
  .footer hr {
    height: 3px; 
    width: 100%;
    margin: auto;
    margin-top: 10px;
    background-color: var(--secondary-bg-color);    
  }
    
  /* For Mobile Devices (same for all devices with widths up to 1200px) */
  .footer hr {
    @media (max-width: 1200px) {
      height: 3px; 
      width: 80%;
      margin: auto;
      margin-top: 10px;
      color: gray;
      background-color: gray;     
    }
  }
  
  /* For Mobile Devices (same for all devices with widths up to 1200px) */
  .fa{
    @media (max-width: 1200px) { 
      font-size: 2em !important;  
    }
  }
  
  .copyright {
    @media (max-width: 1200px) { 
      font-size: 0.6em !important;  
    }
  }

  /* Back to Top Button */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background-image:  url('https://api.iconify.design/material-symbols/arrow-upward.svg?color=%23626262');
    background-repeat: no-repeat;
    background-position: center center ;
    background-size:contain;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  /* Add the Mobile Menu */
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    height: calc(100vh - 45px);
    width: 100%;
    background-color: #f7f7f7;
  }
  
  .mobile-menu li {
    margin-bottom: 10px; 
  }
  
  .mobile-menu li a {
    color: gray; 
    font-weight: 600; 
  }
  
  /* Hide the Links inside the NavBar (keep the logo) and display the mobile menu */
  /* For Mobile and Tablet Devices */
  @media (max-width: 768px) {   
    .nav-links {
        display: none;
      }
  
      #hamburger-icon {
        display: block;
      }
  
     .nav-logo img {
      width: 35vw;
     } 
    }
